/* src/styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

header {
  background-color: #65a2aa; /* Light blue */
  color: #faf7f7; /* White */
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 20px;
}

nav a {
  margin: 0 20px;
  color: #fdfdfd; /* Light blue */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.hero {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #feffff; /* White */
}

.destinations {
  padding: 40px 20px;
  background-color: #f8f8f8;
}

h2 {
  color: #7eb2ba; ;
}
h1 {
  color: #eaf0f1;
}



.destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.destination {
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.destination:hover {
  transform: scale(1.05);
}

.destination img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.contact {
  padding: 40px 20px;
  background-color: #f8f8f8;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label, input, textarea, button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #333; /* Dark gray */
}

button {
  background-color: #cf8ead; /* Light blue */
  color: #f8f8f8; /* White */
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #7eb2ba; /* Slightly darker blue */
}

footer {
  background-color: #7eb2ba;  /* Light blue */
  color: #f8f8f8; /* White */
  text-align: center;
  padding: 20px;
}

.contact-info, .social-media {
  margin-bottom: 20px;
}

.social-media a {
  margin: 0 15px;
  color: #f8f8f8; /* White */
  text-decoration: none;
  font-size: 20px;
}
